body{
  font-family: Helvetica;
}

#sankey-title{
  display: block;
  position: relative;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  border-bottom: thin solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

#sankey-wrapper{
  position: relative;
  display: block;
  height: 400px;
  width:90%;
  margin-left: 5%;
}

#breadcrumb-wrapper{
  position: relative;
  display: block;
  height:50px;
  width: 90%;
  margin-left: 5%;
  border:thin solid red;
}

.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}