body{
  font-family: Helvetica;
}

#sankey-title{
  display: inline-block;
  position: relative;
  width: 40%;
  margin-left: 10%;
  text-align: center;
  border-bottom: thin solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

#sankey-description{
  display: inline-block;
  position: relative;
  float: right;
  font-size: 12px;
  margin-right: 20%;
  width: 19%;
  text-align: center;
}

.desc-highlight{
  font-size: 15px;
  font-weight: bold;
}

#sankey-wrapper{
  position: relative;
  display: block;
  height: 650px;
  width:90%;
  margin-left: 5%;
}

#breadcrumb-wrapper{
  position: relative;
  display: block;
  height:30px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.breadcrumb-text{
  font-family: helvetica;
  font-size: 12px;
  font-weight: 100;
}

.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.breadcrumb-text{
  stroke:white;
  fill:white;
}

.node-name,.breadcrumb-text, #sankey-title{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.crumb-wrapper{
  cursor: pointer;
}

.crumb-wrapper:hover{
  opacity: 0.75;
}